{{ define "main" }}
  {{ if eq .Params.section "about" }}
    {{ partial "sections/about.html" site.Home }}
  {{ else if eq .Params.section "programs" }}
    {{ partial "sections/programs.html" site.Home }}
  {{ else if eq .Params.section "membership" }}
    {{ partial "sections/membership.html" (dict "page" site.Home "isStandalone" true) }}
  {{ else if eq .Params.section "opportunities" }}
    {{ partial "sections/opportunities.html" . }}
  {{ else if eq .Params.section "stories" }}
    {{ partial "sections/stories.html" . }}
  {{ else if eq .Params.section "events" }}
    {{ partial "sections/events.html" . }}
  {{ else if eq .Params.section "partners" }}
    {{ partial "sections/partner.html" . }}
  {{ else if eq .Section "about" }}
    {{ partial "sections/about.html" site.Home }}
  {{ else if eq .Section "programs" }}
    {{ partial "sections/programs.html" site.Home }}
  {{ else if eq .Section "membership" }}
    {{ partial "sections/membership.html" site.Home }}
  {{ else if .Content }}
    {{ partial "sections/generic-page.html" . }}
  {{ end }}
{{ end }}
