{{ define "main" }}
  {{ partial "sections/hero.html" . }}
  {{ partial "sections/marquee.html" . }}
  {{ partial "sections/stats.html" . }}
  {{ partial "sections/sectors.html" . }}
  {{ partial "sections/pathways.html" . }}
  {{ partial "sections/speak-up.html" . }}
  {{ partial "sections/academy.html" . }}
  {{ partial "sections/bnak-voice.html" . }}
  {{ partial "sections/membership.html" (dict "page" . "isStandalone" false) }}
  {{ partial "sections/invest.html" . }}
  {{ partial "sections/voices.html" . }}
  {{ partial "sections/projects.html" . }}
  {{ partial "sections/ribbon.html" . }}
  {{ partial "sections/partner.html" . }}
  {{ partial "sections/contact.html" . }}
  {{ partial "sections/invitation.html" . }}
{{ end }}
